[submodule "unittest-cpp"]
	path = unittest-cpp
	url = https://github.com/unittest-cpp/unittest-cpp
[submodule "rapidcheck"]
	path = 3rdparty/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
